@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Heytor College</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Heytor College</h2>
        <p>
            Heytor College is a college management system able to keep the registration of courses,
            subjects, teachers and students of a university.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Heytor College Entities</h2>
        <p>
            Each college course has multiple subjects, which, in turn, contain one teacher and many students. 
            Furthermore, the system stores the name, birthday, and salary of teachers. 
            For the students it saves the name, birthday, registration number and the students grade in the subjects enrolled.
        </p>
    </div>
</div>